<div class="about-wrapper">
  <h3 class="section-title about-title">About</h3>
  <p class="section-title-intro about-intro">Hi & welcome to my website. I'm Chris Howells and I currently working as a Lead Web Developer for a national e-commerce ticketing agency based in Birmingham. I've been employed with <a class="section-title-intro-link hvr-underline-from-center" href="https://www.theticketfactory.com/default/online/" target="_blank">The Ticket Factory</a> for just over 11 years now and have gained experience from a number of different roles undertaken within my time. These roles include the following; Contact Centre Agent, Data Services Assistant, Senior Business ICT Analyst, Client Support Team Leader, Front End Web Developer & Lead Web Developer.</p>
  <p>I'm a self-taught developer.</p>
</div>
