<div class="portfolio-wrapper">
  <h3 class="section-title portfolio-title"><a class="section-title-link" href="">Portfolio <span class="section-title-icon-link"><i class="fas fa-external-link-alt"></i></span> </a></h3>
  <p class="section-title-intro portfolio-intro">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
    voluptatum amet ad et at distinctio culpa obcaecati consequatur,
    laborum facilis atque officia, nisi quisquam, illo ut recusandae fugiat quo neque.</p>
</div>
