// Global import of brand styles
@import "~src/sass/_styles-global-imports";

.section-block-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem 8rem 8rem;
  background-color: $footer-background-color;
}

h2.social-footer-title {
  color: $logo-peach;
}

.social-footer-icons-wrapper {
  display: flex;
  justify-content: center;
}

.social-footer-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;

  & a {
    font-size: 3rem;
    color: $white;
    transition: 0.5s;

    &:hover {
      color: $logo-peach;
    }
  }
}
