<footer class="container-fluid" id="dte-social-footer">
  <div class="section-block-footer">
    <div class="social-footer-container">
      <h2 class="social-footer-title">
        Follow me
      </h2>
      <div class="social-footer-icons-wrapper">
        <div class="social-footer-icons">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
