// Brand Color Variables
$black: #000000;
$charcoal: #333333;
$white: #FFFFFF;
$mint: #27EEC7;
$yellow: #FBF13F;
$pink: #FF007B;
$light-grey: #F1F1F1;
$grey: #A3A3A3;

// Global Styles
$text-color: $charcoal;

// Headings Color Variables
$heading-color-one: $black;
$heading-color-two: $black;
$heading-color-three: $black;
$heading-color-four: $black;
$heading-color-five: $black;
$heading-color-six: $black;

// Landing Page Content
$section-block-even: $light-grey;
$section-block-odd: $white;
$section-block-footer: $grey;
