<div id="overlay-extended-wrapper" class="overlay">
  <div class="overlay-content" #navOverlayExtendedLinks (click)="menuLinks(navOverlayExtendedLinks)">
    <a class="hvr-push">About</a>
    <a routerlink="/skills" ng-reflect-router-link="/skills" href="/skills" class="hvr-push">Skills</a>
    <a routerlink="/about" ng-reflect-router-link="/about" href="/about" class="hvr-push">Testimonials</a>
    <a routerlink="/about" ng-reflect-router-link="/about" href="/about" class="hvr-push">Clients</a>
    <a routerlink="/about" ng-reflect-router-link="/about" href="/about" class="hvr-push">Portfolio</a>
    <a class="hvr-push">Social</a>
  </div>
</div>
