// Global import of brand styles
@import "styles/_styles-global-imports";

.carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  text-align: left;
  color: inherit;
}

.testimonial-carousel-item-structure {
  display: block;
  margin-bottom: 0.25em;
}

.testimonial-carousel-item-header {
  font-size: 1.5rem;
}

.testimonial-carousel-item-sub-header {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  color: $mint;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.testimonial-carousel-item-body {
  font-style: italic;
}

.testimonial-carousel-item-footer {
  font-style: italic;
  color: #D1CECE;
}

/*** MEDIA QUERY - $breakpoint-desktop-sm ***/
@media only screen and (min-width: $breakpoint-desktop-sm) {
  .testimonial-carousel-item-wrapper {
    display: flex;
    flex-direction: column;
    height: 240px;
  }

  .testimonial-carousel-item-structure {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .testimonial-carousel-item-header,
  .testimonial-carousel-item-footer {
    flex: 1;
  }

  .testimonial-carousel-item-body {
    flex: 2;
  }

  .testimonial-carousel-item-sub-header,
  .testimonial-carousel-item-sub-footer {
    padding-left: 5px;
  }
}
