<div class="carousel-item" *ngFor="let brilliance of brillianceData" [class.active]="brilliance.is_active">
  <div class="carousel-caption">
    <div class="row">
      <div class="testimonial-carousel-item-wrapper col-sm-12">
        <span class="testimonial-carousel-item-structure testimonial-carousel-item-header">
          <span class="testimonial-carousel-item-sub-header">{{ brilliance.core_value_demonstrated }}</span>
        </span>
        <span class="testimonial-carousel-item-structure testimonial-carousel-item-body">{{ brilliance.reason_for_nomination }}</span>
        <span class="testimonial-carousel-item-structure testimonial-carousel-item-footer">Nominated by:
          <span class="testimonial-carousel-item-sub-footer">{{ brilliance.person_nominated_by }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
