// Google Fonts Pull - Oxygen / Raleway
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Raleway:300,400,700');

// Fonts
$primary-font: 'Raleway', Arial, sans-serif;
$secondary-font: 'Oxygen', Arial, sans-serif;
$tertiary-font: 'Oxygen', Arial, sans-serif;

// Font Sizes
$body-font-size: 1rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Heading Font Sizes
$heading-font-size-one: 5rem;
$heading-font-size-two: 4rem;
$heading-font-size-three: 3rem;
$heading-font-size-four: 2.5rem;
$heading-font-size-five: 2rem;
$heading-font-size-six: 1.5rem;
