<app-nav-extended></app-nav-extended>
<div class="about-wrapper wrapper-extended">
  <h3 class="section-title about-title">About</h3>
  <p class="section-title-intro about-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe
    consequatur nemo nihil ut ex, laborum maiores, soluta iusto error at animi tempore harum ipsa. Perferendis vel rem
    a sapiente! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eveniet et deleniti. Autem
    recusandae amet numquam fugit non obcaecati unde nobis totam alias, voluptate delectus iure sint dolor minima
    molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum officiis architecto delectus cupiditate,
    ipsum recusandae explicabo qui nostrum consectetur error officia amet. Blanditiis iste perferendis officia, ipsum
    ex quae in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repudiandae aliquam quos iure, enim
    temporibus ipsum praesentium ex hic consequatur, atque, impedit iusto debitis beatae nostrum suscipit quidem a
    molestiae!</p>
  <div class="section-return-link">
    <a class="section-title-link" routerLink="/"> <span class="section-title-icon-link"><i class="fas fa-step-backward"></i></span>
      Back</a>
  </div>
</div>
