// Global import of brand styles
@import "~src/sass/_styles-global-imports";

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: $logo-purple;
    border-bottom: 3px solid $logo-peach;
    a {
        color: $text-color;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    margin: 0;
}

.navbar-logo {
  height: 60px;
  @include border-radius(15%);
}

.menu-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: $white;
    padding: 10px;
    @include border-radius(15%);
}

.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 0.25rem;
    background-color: $logo-purple;
    margin: 0.25rem 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px) ;
    transform: rotate(-45deg) translate(-9px, 8px) ;
}

/* Fade out the second bar */
.change .bar-2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
