<div id="overlay-wrapper" class="overlay">
  <div class="overlay-content" #navOverlayLinks (click)="menuLinks(navOverlayLinks)">
    <a [ngx-scroll-to]="'dte-about'" [ngx-scroll-to-offset]="-80" class="hvr-push">About</a>
    <a [ngx-scroll-to]="'dte-skills'" [ngx-scroll-to-offset]="-80" class="hvr-push">Skills</a>
    <a [ngx-scroll-to]="'dte-testimonials'" [ngx-scroll-to-offset]="-80" class="hvr-push">Testimonials</a>
    <a [ngx-scroll-to]="'dte-clients'" [ngx-scroll-to-offset]="-80" class="hvr-push">Clients</a>
    <a [ngx-scroll-to]="'dte-portfolio'" [ngx-scroll-to-offset]="-80" class="hvr-push">Portfolio</a>
    <a [ngx-scroll-to]="'dte-social-footer'" [ngx-scroll-to-offset]="-80" class="hvr-push">Social</a>
  </div>
</div>
