// Global import of brand styles
@import "~src/sass/_styles-global-imports";

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.overlay.overlay-toggle {
  width: 100%;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.overlay a {
  display: block;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  color: $mint;
  padding: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/*** MEDIA QUERY - $breakpoint-laptop ***/
@media only screen and (min-width: $breakpoint-laptop) {

  .overlay a {
    font-size: 3.5rem;
  }

}
