<div id="overlay-wrapper" class="overlay">
  <div class="overlay-content" #navOverlayLinks (click)="menuLinks(navOverlayLinks)">
    <a [ngx-scroll-to]="'dte-about'" [ngx-scroll-to-offset]="-60">About</a>
    <a [ngx-scroll-to]="'dte-skills'" [ngx-scroll-to-offset]="-60">Skills</a>
    <a [ngx-scroll-to]="'dte-testimonials'" [ngx-scroll-to-offset]="-60">Testimonials</a>
    <a [ngx-scroll-to]="'dte-clients'" [ngx-scroll-to-offset]="-60">Clients</a>
    <a [ngx-scroll-to]="'dte-portfolio'" [ngx-scroll-to-offset]="-60">Portfolio</a>
  </div>
</div>
