// Global import of brand styles
@import "styles/_styles-global-imports";

.testimonials-carousel-wrapper {
  position: relative;
}

.testimonials-carousel-controls-prev,
.testimonials-carousel-controls-next {
  display: inline-block;
  margin: 0 1.25rem 0 0;
  padding: 0;
  font-size: 3rem;
  color: $mint;
}

.testimonials-carousel-controls-prev i.fas.fa-arrow-left,
.testimonials-carousel-controls-next i.fas.fa-arrow-right {
  padding-bottom: 4px;
  border-bottom: 3px solid $mint;
}
