<div class="testimonials-wrapper">
  <h1 class="section-title testimonials-title">Testimonials..</h1>
  <p class="testimonials-intro">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatum amet ad et at distinctio culpa obcaecati consequatur,
    laborum facilis atque officia, nisi quisquam, illo ut recusandae fugiat quo neque.</p>
  <div id="testimonials-carousel-controls" class="carousel" data-ride="carousel" data-interval="8000">
    <div class="carousel-inner" role="listbox">
      <app-testimonial></app-testimonial>
    </div>
    <a class="testimonials-carousel-controls-prev" href="#testimonials-carousel-controls" role="button" data-slide="prev">
      <span aria-hidden="true">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="testimonials-carousel-controls-next" href="#testimonials-carousel-controls" role="button" data-slide="next">
      <span aria-hidden="true">
        <i class="fas fa-arrow-right"></i>
      </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
