.testimonials-carousel-wrapper {
  position: relative;
}

.testimonials-carousel-controls-prev,
.testimonials-carousel-controls-next {
  display: inline-block;
  margin: 0 0.75rem 0 0;
  padding: 0;
  font-size: 2rem;
  color: #FBF13F;
}
